.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffaf00;
  height: 54px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}
