.container-navbar-user{
  display:flex;
  flex-direction:row;
  opacity:100 !important;
  padding-left:40px;
}

.nav-item{
  margin-left:800px;
}

.nav-link{
  padding-left:30px !important;
  color:white;
  font-family:Avenir;
  font-weight:00;
}

.desc {
    padding: 15px;
    text-align: center;
}

  .rounded-circle{
    background-image: url(../../../img/elips.png);
    width: 50px;
    height: 50px;
  }
  
  .polygon {
    position: absolute;
    top: 100px;
    z-index: 999999;
    display: none;
  }
  
  .po-hover {
    cursor: pointer;
  }

  .iconTrans{
    width: 30px;
    height: 30px;
  }


  /* Mobile Device */
  @media only screen and (max-width: 550px) {
    .rounded-circle{
display: none !important;
bottom: 100px;
left: 40px;
    }
    .dropdown-content{
      position: static !important;
      background-color: navy;
      display: none !important;
    }
    .polygon{
      display: none !important;
    }
    .nav-item{
      display: flex;
      color: white !important;
      background: rgba(33,37,41);
      width: 100vw;
    }
    .nav-link{
      padding-left: 20px !important;
    }
  }