* {
    font-family: "Poppins", sans-serif;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .nav-drop{
    width: 20vw;
    position:relative;
  }
  
  .btn-login {
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 4px 28px;
  }
  
  .btn-register {
    border-radius: 4px;
    background-color: #ffaf00;
    border: none;
    border-radius: 4px;
    padding: 4px 28px;
    margin-left: 20px;
  }
  
  .modal-content img {
    position: absolute;
    left: 0;
    right: 61.54%;
    top: 0;
    bottom: 87.81%;
  }
  
  .btn-close {
    position: absolute;
    left: 90%;
  }
  
  /* ----- Hamburger Menu ----- */
  
  .menu-toggle {
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;
  }
  
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -10px;
    top: -6px;
    cursor: pointer;
    z-index: 2;
  }

  .btn-login-register{
    display:flex !important;
    position:relative !important;
  }
  
  .navbar-comp{
    display:flex;
    justify-content:center;
  }
  
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }
  @media only screen and (max-width: 810px) {
    .nav-drop{
      width: 100vw;
      display:flex !important;
      bottom:40px;
      right:15px;
      background: rgba(33,37,41);
      justify-content:space-between !important;
      padding-left:15px;
    }

    .btn-login-register{
width: 270px !important;
text-align:center;
left:200px !important;
    }
  
    .header-right {
      display: none;
    }
  
    .header-left {
      flex-basis: 100%;
    }
    .menu-toggle {
      display: flex;
    }
  }

  /* Mobile Device */
  @media only screen and (max-width: 550px) {
    .nav-drop{
      width: 100vw;
      display:flex !important;
      position:relative;
      border:solid red 2px;
      right:15px;
      background: rgba(33,37,41);
      justify-content:space-between !important;
      padding-left:15px;
    }

    .btn-login-register{
width: 270px !important;
text-align:center;
position:'relative';
left:200px !important;
    }
  
    .header-right {
      display: none;
    }
  
    .header-left {
      flex-basis: 100%;
    }
    .menu-toggle {
      display: flex;
    }
  }